/*about section css*/
.about {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  font-size: 22px;
  gap: 10%;
  width: auto;
  margin-top: 10%;
  margin-bottom: 15%;
}
.about .about-heading span {
  font-size: 50px;
  color: rgb(250, 66, 97);
  margin-left: 8rem;
}
.about .about-heading {
  width: 500px;
  margin-left: 10%;
}
.about-details {
  width: 600px;
}
