/*contact form css*/
.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22px;
  gap: 10%;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 15%;
  margin-right: 0;
  position: relative;
}
.contact-form .c-left span {
  font-size: 50px;
  color: rgb(250, 66, 97);
}
.form {
  display: flex;
  flex-direction: column;
}
.form1 * {
  margin-top: 20px;
}

.c-right {
  width: 50vh;
  border: 2px solid pink;
}
.c-right > * {
  margin: 20px;
}
.awesome {
  position: relative;
}
.contact-form video {
  width: 97%;
  height: 900px;
  object-fit: cover;
  z-index: -3;
  opacity: 0.7;
  position: absolute;
  top: -4rem;
  left: 2%;
}
.form1 {
  width: 90%;
}
